body {
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 42px;
    color: blue;
    text-align:center
}

ul, a {
    font-weight: 600;
    font-size: 36px;
    background-color: white;
    color: red;
    text-align: left;
}

.bread {
    color: pink;
    font-size: 18px;
}